@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
li {
  list-style-type: none;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 14px 40px;
  border-bottom: 1px solid #dfdfdf;
  background-color: white;
  align-items: center;
box-shadow: 19px -12px 37px rgba(3, 7, 18, 0.12);

}

header h1 {
  font-size: larger;
  font-weight: 500;
  background-color: transparent;
}

button {
  cursor: pointer;
}

button:hover {
  opacity: 92%;
}

.btn {
  padding: 6px 20px;
  border: 1px solid #000;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  transition-duration: 300ms;
}

.btn:hover {
  opacity: 50%;
}

.btn:disabled {
  cursor: not-allowed;
  opacity: 50%;
}

main {
  height: calc(100% - 65px);
}

input:focus, textarea:focus {
  outline: none;
}

.input-grp {
  padding: 3px 5px;
  border-radius: 8px;
  border: 1px solid transparent;
  transition-duration: 300ms;
  transition: border 0.3s ease-in-out;
}

.input-grp:focus-within {
  border: 1px solid #474343;
}